.mainbody {
	background-color: #56565a;
	color: #fff;
	padding: 100px;
	height: 90vh;
}

.mainbody2 {
	background-color: #56565a;
	color: #fff;
	padding: 100px;
	height: auto;
}

ul.footernav li a {
	color: #fed313;
}

ul.footernav li a:hover {
	color: #fed313;
	text-decoration: underline;
	-moz-text-decoration-style: dotted; 
}


a { color: #fed313; }


strong.bank {
	font-size: 2em; font-weight: bold; 
	color: orange;
	
}

